*{
    margin:0;
    padding:0;
}
.banner{
    background-image: url(/banner/banner1.png);
    background-repeat: no-repeat;
    background-position: center; 
    display: flex;
    justify-content: flex-end;
    align-items: center;
    height: 808px;
    margin-bottom: 100px;
}
.top{
   text-align: right;
    
}
.heading{
    margin-right: 50px;
    font-size: 25px;
}
.first{
 margin-right: 50px;
 margin-top: 5px;
 margin-bottom: 8px;
 width: 400px;
 margin-left: auto;
}
.btn{
    margin-right: 50px;
    border: none;
    background-color:#F15B22;
    color: white;
    padding:4px;
    border-radius:5px;
}
.history{
     display: flex;
     align-items:center;  
     justify-content: space-evenly;
     width: 70%; 
     margin:0 auto;
}
.details{
    width:300px;
    margin-left: auto;
}
.title{
    font-size: 25px;
}
h4{
font-size: 20px;   
}
.blog{
    margin-top: 100px;
}
.knowledge{
    display:flex;
    justify-content: space-evenly;
    
}
h1{
    text-align: center;
    margin-bottom:40px;
    font-size:30px;
}
.skill-type-1{
    text-align: center;

}
.gradient{
    background-image:linear-gradient( rgba(245, 246, 252, 0.52), rgba(117, 19, 93, 0.73))
    ,url( 'image/watch.png');
    height: 300px;
    margin: 100px auto;
    width: 70%;
    justify-content: center;
    align-items: center;
    
}

button{
    border-style: none;
    padding: 7px 9px;
    border-radius: 6px;
    color: #F15B22;
   
    
}
.bottom{
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color:black;
    height: 550px;    
}
.left-side{
 width: 300px;   
 color: white;
}
.right-side{
    color: white;
}
.last-btn{
    margin-top: 5px;
    display: block;
}
